/*for SP*/
@media screen and (max-width:768px) {
    .font-size-S {
        font-size: 11px;
    }
    .font-size-M {
        font-size: 12px;
    }
    .font-size-L {
        font-size: 24px;
    }
}

/*for tablet*/
@media screen and (min-width:768px) and (max-width:1024px) {
    .font-size-S {
        font-size: 14px;
    }
    .font-size-M {
        font-size: 15px;
    }
    .font-size-L {
        font-size: 27px;
    }
}

/*for PC*/
@media screen and (min-width:1024px) {
    .font-size-S {
        font-size: 16px;
    }
    .font-size-M {
        font-size: 17px;
    }
    .font-size-L {
        font-size: 29px;
    }
}
